.navigation {
  display: flex;
  gap: 1.5em;
}

.navigation a {
  color: #fff;
  font-weight: 500;
  padding: 0.25em 0.5em;
  border-radius: 2px;
  transition: background 0.2s, color 0.2s;
}

.navigation a.active, .navigation a:hover {
  background: var(--secondary-gold);
  color: var(--text-dark);
}

@media (max-width: 700px) {
  .navigation {
    gap: 1em;
    flex-wrap: wrap;
  }
}
